@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic);

*{
	margin: 0;
	padding: 0;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
}