<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>GASTRO</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/jquery.accordion.css" />
        <link rel="stylesheet" href="/css/mobile.css" />
    </head>
    <body>
        <header class="main_header">
            С <span class="number_day yellow_color">15</span> апреля по <span class="number_day yellow_color">15</span> июня 2016 года!
        </header>
        <section class="about_sale">
            <h2>Препарат высокого качества от известной компании-производителя</h2>
            <p>
                для лечения гастроэзофагеальной рефлюксной болезни (ГЭРБ), а также комплексной терапии язвенной болезни желудка и двенадцатиперстной кишки (ЯБ)
            </p>
            <div class="amount_percentage">
                <div class="amount_percentage_cont">
                    <span class="small_text">на</span>
                    <span class="large_text">20%</span><br>
                    <span class="middle_text">дешевле!</span>
                </div> 
                <img src="images/header-mobile.jpg" alt="" class="img_santa" >
            </div>
        </section>

        <section id="only-one" class="data-accordion-group" data-accordion-group>
            <section data-accordion class="data-accordion">
                <button class="data-control icn-question" data-control>
                    <span class="btn-text">Как стать участником акции?</span>
                </button>
                <div class="data-content" data-content>
                    <article class="tab-content">
                        Чтобы стать участником акции и приобрести препарат с экономией 20%, необходимо обратиться с рецептом в одну из аптек-участниц акции.
                    </article>
                </div>
            </section>
            <section data-accordion class="data-accordion">
                <button class="data-control icn-action" data-control>
                    <span class="btn-text">Условия акции</span>
                </button>
                <div class="data-content" data-content>
                    <article class="tab-content">
                        По акции Вы можете приобрести препарат для лечения гастроэзофагеальной рефлюксной болезни, а также комплексной терапии язвенной болезни желудка и двенадцатиперстной кишки, назначенный Вашим лечащим врачом,с экономией <strong>20%</strong>!                        
                    </article>
                </div>
            </section>
            <section data-accordion class="data-accordion">
                <button class="data-control icon-dates" data-control>
                    <span class="btn-text">Сроки акции:</span>
                </button>
                <div class="data-content" data-content>
                    <article class="tab-content">
                        С <b>15</b> апреля по <b>15</b> июня 2016 года!
                    </article>
                </div>
            </section>
        </section>

        <div class="towns-box">
            <div class="page-header text-uppercase text-left semibold page-header-sm">
                Аптеки-участницы программы:
            </div>

            <div class="search_main_box">
                <div class="search_map">
                    <div class="field">
                                    <select class="choise-city">
                                        <option value="ALL">Вся Россия</option>
                                    {% for city in cities %}
                                        <option>{{city}}</option>
                                    {% endfor %}
                                    </select>
                    </div>
                    <button type="submit">Найти</button>
                </div>
                <div class="select_map">
                    <select class="choise-pharmacy">
                        <option value="ALL">Все</option>
                        {% for n in networks %}
                            <option>{{n}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="tabs_ctr">
                <ul class="tabs">
                    <li class="current">КАРТА</li>
                    <li>СПИСОК</li>
                </ul>
                <div class="tab visible">
                    <div id="map" class="map"></div>
                </div>
                <div class="tab">
                    <div class="address_map">
                        <div class="label">Аптечная сеть</div>
                        <div class="option">36,6</div>

                        <div class="label">Адрес</div>
                        <div class="option">Ул. Спасская, 5 к 1</div>

                        <div class="label">Телефон</div>
                        <div class="option">(495) 505-69-69</div>
                    </div>
                </div>    
            </div>
        </div>        
        
        <div class="hint-ctr curved-hz">
            <div class="hint-text">
                ИМЕЮТСЯ ПРОТИВИПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ПРЕПАРАТА НЕОБХОДИМО ОЗНАКОМИТЬСЯ С ИНСТРУКЦИЕЙ ПО ПРИМЕНЕНИЮ И ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА.
                <br />
                © 2015 «<a href="http://www.astrazeneca.ru/">AstraZeneca</a>» (перейти на официальный сайт) Все права защищены. PSP_963.780,011_01.04.2016.
            </div>
        </div>
    </body>

    <script src="//yandex.st/jquery/2.1.0/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="/js/jquery.accordion.js"></script>
    <script src="/js/mobile.js"></script>

        <script src="/js/gmap-style.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?key={{googleKey}}&amp;language=ru-RU"></script>
        <script src="//googlemaps.github.io/js-marker-clusterer/src/markerclusterer.js"></script>
    
        <script>
            var map;
            var markerClusterer = null;

            var geocoder = new google.maps.Geocoder();
            var bounds = new google.maps.LatLngBounds();
            var points = {{points_json|raw}};
            var markers = [];

            function initPoints() {

                $icon = {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 7,
                    fillOpacity: 0.9,
                    strokeOpacity: 0.0,
                    fillColor: '#f6bc00'
                };

                var infowindow = new google.maps.InfoWindow({
                    content: 'content',
                    maxWidth: 200
                });

                $.each(points, function (key, one) {
                    var marker = one.marker = new google.maps.Marker({
                        position: {lat: one.lat, lng: one.lng},
                        title: one.name,
                        icon: $.extend({}, $icon, {fillColor: one.color})
                    });
                    google.maps.event.addListener(marker, 'mouseover', function () {
                        marker.setIcon($.extend({}, marker.getIcon(), {scale: 11}));
                        infowindow.close();
                        infowindow.setContent('<h3>' + one.name + '</h3><br />' + one.street);
                        infowindow.open(map, marker);
                    });
                    google.maps.event.addListener(marker, 'mouseout', function () {
                        marker.setIcon($.extend({}, marker.getIcon(), {scale: 8}));
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.close();
                        infowindow.setContent('<h3>' + one.name + '</h3><br />' + one.street);
                        infowindow.open(map, marker);
                    });

                    bounds.extend(marker.getPosition());
                    markers.push(marker);
                });

                markerClusterer = new MarkerClusterer(map, markers, {
                    maxZoom: 20,
                    gridSize: 20,
                });

                // map.fitBounds(bounds);
            }


            function initialize() {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 3,
                    center: {lat: 55, lng: 57},
                    disableDefaultUI: true,
                    zoomControl: true,
                    scaleControl: true
                });

                var usRoadMapType = new google.maps.StyledMapType($gmapStyle);
                map.mapTypes.set('custom', usRoadMapType);
                map.setMapTypeId('custom');

                google.maps.event.addListenerOnce(map, 'tilesloaded', function(){
                    initPoints();
                    changeStores();
                    map.addListener('bounds_changed', _.debounce(function () {
                        changeStores();
                    }, 750));                    
                });
            }

            function changeStores() {
                var $new = [],
                        $list = '';
                for (var i = points.length, bounds = map.getBounds(); i--; ) {
                    if (bounds.contains(points[i].marker.getPosition())) {
                        $new.push(points[i].network);
                    }
                }
                
                $new = $.unique($new).sort();
                $list +=  '<option value="ALL">Все</option>'
                $.each($new, function(key, val){
                    $list +=  '<option>' + val + '</option>'
                });
                
                $('.choise-pharmacy').html($list);
            }

            function changeCity(city) {
                if (city === 'ALL') {
                    map.fitBounds(bounds);
                } else {
                    geocoder.geocode({'address': city}, function (results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            var resultBounds = new google.maps.LatLngBounds(
                                    results[0].geometry.viewport.getSouthWest(),
                                    results[0].geometry.viewport.getNorthEast()
                                    );
                            // map.fitBounds(resultBounds);                            
                            map.fitBounds(results[0].geometry.viewport);
                            // map.setZoom(13);
                        }
                    });
                }
            }

            function changeNetwork(network) {
                if (markerClusterer) {
                    markerClusterer.clearMarkers();
                    markers = [];
                }                

                $.each(points, function (key, one) {
                    if (one.network === network || network === 'ALL') {
                        markers.push(one.marker);
                    }
                });

                markerClusterer = new MarkerClusterer(map, markers, {
                    maxZoom: 20,
                    gridSize: 20,
                });                
            }

            google.maps.event.addDomListener(window, 'load', initialize);
            
        </script>            

        <script  type="text/javascript">
                $('.choise-city').change(function (e) {
                    var $d = $(this);
                    changeNetwork('ALL');
                    changeCity($d.val());
                });

                $('.choise-pharmacy').change(function (e) {
                    var network = $(this).val();
                    changeNetwork(network);
                });

                $('.control-bar').on('click', '.main-item', function (e) {
                    e.preventDefault();

                    if ($(this).hasClass('open')) {
                        $(this).removeClass('open');
                        $(this).next().slideUp('fast');
                    } else {
                        $(this).addClass('open');
                        $(this).next().slideDown('fast');
                    }
                });

                $(".fancybox-manual-b").click(function () {
                    $.fancybox.open({
                        type: 'iframe',
                        href: $(this).data('page'),
                        padding: 15,
                        width: 800,
                        height: 800
                    });
                });

                $(document).mouseup(function (e) {
                    var container = $(".sub-menu");
                    var parlink = $('.control-bar').find('.main-item');

                    if (!container.is(e.target) && container.has(e.target).length === 0) {
                        container.slideUp('fast');
                    }
                });

        </script>        
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-5646961-46', 'auto');
          ga('send', 'pageview');
        </script>            
    
</html>